import tools/bazel.rc

build --action_env TF_NEED_OPENCL_SYCL="0"
build --action_env TF_NEED_ROCM="0"
build --action_env TF_NEED_CUDA="0"
build --action_env TF_DOWNLOAD_CLANG="0"
#build --action_env PATH="/opt/buildtools/gcc-7.3.0/bin:/bin:/usr/bin"
#build --action_env GCC_HOST_COMPILER_PATH="/opt/buildtools/gcc-7.3.0/bin/gcc"
build:opt --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0
#build:opt --copt=-march=native
#build:opt --host_copt=-march=native
build:opt --define with_default_optimizations=true
build:v2 --define=tf_api_version=2

build:opt --copt=-ftrapv
build:opt --copt=-D_FORTIFY_SOURCE=2
#build:opt --strip=always

build --subcommands
build --verbose_failures
build --sandbox_debug
build --incompatible_strict_action_env
build --nocheck_visibility


# build --experimental_enable_repo_mapping
# build --nocheck_visibility
# build --distinct_host_configuration=false


build:opt --copt="-fpic"